.card-img-top {
  height: 450px;
  object-fit: contain;
}

.carousel {
  /* background-color: black;*/
}

.carousel-item {
  height: 80vh;
  text-align: center;
}

.carousel-item img {
  height: 100%;
}

.carousel-indicators {
  margin-bottom: 15px;
}

.carousel-indicators button {
  margin: auto 4px;
}

.cart-img {
  height: 250px;
}

.checkout-img {
  height: 100px;
}

.cart-img {
  width: 80px;
  height: 40px;
}

.custom-row h1 {
  font-family: "Georgia", sans-serif;
}

.custom-row p {
  font-family: "Georgia";
}

.custom-border {
  border: 2px solid #fbc2eb !important;

  border-radius: 7px !important;
}

.img-sm {
  width: 300px;
}

.img-lg {
  width: 500px;
}

.img-xl {
  width: 750px;
}

.img-xl {
  width: 1000px;
}

.button-style {
  background-image: linear-gradient(to right, #c68c53, #e0aa7f, #c68c53);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button-style:hover {
  border-color: black; /* Cambia el color del borde al pasar el cursor */
  color: black;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el cursor */
  /* Otros estilos adicionales si los deseas */
}

.button-style-second {
  background-image: linear-gradient(to right, #a18cd1 1%, #fbc2eb);
  color: #8c7ca4;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #8c7ca4; /* Borde blanco de 2px */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  cursor: pointer;
  margin-left: 10px;
  line-height: 150%;
  transition: background-color 0.3s ease;
}

.button-style-second:hover {
  border-color: white; /* Cambia el color del borde al pasar el cursor */
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el cursor */
  /* Otros estilos adicionales si los deseas */
}

.badge-primary {
  background-color: #c68c53 !important;
}

.delete-button {
  background-image: linear-gradient(to right, #f6665c, #f44336);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  background-image: linear-gradient(
    to right,
    #d32f2f,
    #b71c1c
  ); /* Gradiente lineal de rojo oscuro a rojo más oscuro */
}

.form-control:focus {
  color: #495057 !important;
  background-color: #fff !important;
  border-color: #fbc2eb !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem #a18cd144 !important;
}

a {
  color: white !important;
  font-weight: 600;
}

.custom-link {
  color: #c68c53;
}
