.card-img-top {
  height: 450px;
  object-fit: contain;
}

.carousel {
  /* background-color: black;*/
}

.carousel-item {
  height: 80vh;
  text-align: center;
}

.carousel-item img {
  height: 100%;
}

.carousel-indicators {
  margin-bottom: 15px;
}

.carousel-indicators button {
  margin: auto 4px;
}

.cart-img {
  height: 250px;
}

.checkout-img {
  height: 100px;
}

.cart-img {
  width: 80px;
  height: 40px;
}

.custom-row {
  text-align: left;
}

.custom-row h1 {
  font-family: "Georgia", sans-serif;
}

.custom-row p {
  font-family: "Georgia";
}

.custom-border {
  border-radius: 7px !important;
}

.img-sm {
  width: 300px;
}

.img-lg {
  width: 500px;
}

.img-xl {
  width: 750px;
}

.img-xl {
  width: 1000px;
}

.button-style-nav {
  height: 70px;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.button-style {
  background-color: black;
  color: white !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: 400 !important;
}

.button-style:hover {
  border-color: gray; /* Cambia el color del borde al pasar el cursor */
  color: gray;

  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el cursor */
  /* Otros estilos adicionales si los deseas */
}

.button-style-second {
  background-image: linear-gradient(to right, #000, #888, #000);
  color: white !important;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px #000, solid; /* Borde blanco de 2px */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  cursor: pointer;
  margin-left: 10px;
  line-height: 150%;
  transition: background-color 0.3s ease;
}

.button-style-second:hover {
  border-color: white; /* Cambia el color del borde al pasar el cursor */
  color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* Agrega una sombra al pasar el cursor */
  /* Otros estilos adicionales si los deseas */
}

.badge-primary {
  background-color: #000 !important;
}

.delete-button {
  background-image: linear-gradient(to right, #000, #888);
  color: white;
  border: white;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  background-image: linear-gradient(
    to right,
    #000,
    #888
  ); /* Gradiente lineal de rojo oscuro a rojo más oscuro */
}

.form-control:focus {
  color: black !important;
  background-color: white !important;
  border-color: black !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem #000 !important;
}

a {
  color: #f7e0d5 !important;
  font-weight: 600;
}

.my-swal-container {
  font-family: "Georgia", sans-serif;
}

.my-swal-popup {
  background-color: white; /* Color de fondo */
  border: 2px solid black; /* Borde */
  border-radius: 5px;
}

.my-swal-content {
  color: white; /* Color del texto */
}

.card-title {
  color: black !important;
}

.price {
  color: black;
}

.nav-link,
.navbar-brand {
  color: white !important;
}

.html-details-description {
  word-wrap: break-word;
}

.terms-shipping {
  color: black !important;
}

.forgotten {
  color: black !important;
}

.card-join {
  color: black !important;
}

.text-color {
  color: black;
}

/* Estilo para el fondo del botón */
.button-background {
  background-color: black;
  color: white; /* Cambia el color del texto en el botón para que sea legible en el fondo */
  border: none; /* Elimina el borde del botón si es necesario */
}

.custom-button-class {
  background-color: black;
  color: white; /* Cambiar el color del texto en el botón para que sea legible en el fondo */
  border: none; /* Opcional: eliminar el borde del botón si es necesario */
}

.cookie-banner-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: left;
  z-index: 1000; /* Asegura que el banner esté sobre el contenido */
}

.cookie-banner-container p {
  margin: 0;
  font-size: 14px;
}

.cookie-banner-container a {
  color: black !important;
}

.cookie-banner-container button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.form-row {
  display: flex;
  flex-direction: row;
}

.cart-added {
  font-weight: 700;
  padding-top: 13px;
  display: block;
}

.swal2-styled.swal2-confirm {
  background-color: black !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-html-container {
  font-weight: 700 !important;
}
@media (max-width: 520px) {
  .form-row {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .custom-row {
    text-align: center;
  }
}
